<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft.dao.ProductMapper" >
    <sql id="Base_Column_List">
    id, Enterprise_id, Product_name, Product_price, Product_type, Product_image
    </sql>
    <select id="getallByEnterpriseId" resultType="com.soft.model.Product"  >
        select
        <include refid="Base_Column_List"/>
        from collection_products
        where Enterprise_id=#{id};
    </select>
    <select id="getAllTypeByEnterpriseId" resultType="String"  >
        select distinct Product_type from collection_products
        where Enterprise_id=#{id};
    </select>
    <select id="getallByType" resultType="com.soft.model.Product"  >
        select
        <include refid="Base_Column_List"/>
        from collection_products
        where Enterprise_id=#{id} and Product_type=#{type};
    </select>
    <select id="selectById" resultType="com.soft.model.Product"  >
        select
        <include refid="Base_Column_List"/>
        from collection_products
        where id=#{id}
    </select>
    <select id="getAll" resultType="com.soft.model.Product"  >
        select
        <include refid="Base_Column_List"/>
        from collection_products
    </select>
    <select id="selectAll" resultType="com.soft.model.Product">
        select *
        from `collection_products`
    </select>
    <update id="updateProduct" >
        update collection_products
        set Product_name = #{productName},
            Product_price = #{productPrice},
            Product_type = #{productType},
            Product_image = #{productImage}
        where id = #{id}
    </update>

    <insert id="insertProduct">
        insert collection_products
        set Enterprise_id = #{enterpriseId},
        Product_name = #{productName},
        Product_price = #{productPrice},
        Product_type = #{productType},
        Product_image = #{productImage}
    </insert>
    <delete id="deleteProduct" >
        delete from collection_products where id=#{id}
    </delete>


</mapper>